{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layout/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/academic/layout/partials/site_head.html`. */}}

<link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />

<style type="text/css">
#calendar-element table {
  display: table;
}
.popper-tooltip {
  opacity: 1;
}
</style>

<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>

<script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/popper.js'></script>
<script src='https://unpkg.com/tooltip.js'></script>